<?xml version="1.0"?>
<!--
/**
 * @author Nwhales Team
 *
 * @copyright Copyright (c) 2019 Nwhales (https://www.nwhales.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="nwhales_google_reviews_checkout_success"
                  instance="Nwhales\GoogleReviews\Observer\SetOrderToSurveyObserver"/>
    </event>
</config>
